<mat-card>
  <mat-card-header>
    <mat-card-title>Consulta de Clientes</mat-card-title>
    <mat-card-subtitle>Pesquisa de clientes por Nome e/ou Número do documento</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   
    <!-- mensagem -->
    <app-messages [texto]="mensagem"/>
    <br/>

    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <mat-form-field class="grid-item">
          <input
            type="text"
            matInput
            placeholder="ID do Cliente"
            formControlName="id"
          />
        </mat-form-field>
        <mat-form-field class="grid-item">
          <input
            type="text"
            matInput
            placeholder="Nome do Cliente"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="grid-item">
          <input
            type="text"
            matInput
            placeholder="Número do Documento"
            formControlName="documentNumber"
          />          
        </mat-form-field>
        
        <button
          mat-raised-button
          class="grid-item button"
          color="primary"
          type="submit"
          [disabled]="!listForm.valid"
        >
          CONSULTAR
        </button>
      </div>
    </form>

    <div>

      <mat-table [dataSource]="dataTable" class="tabela-contas">
        <!-- coluna 'data' -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef
            ><strong>ID</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef
            ><strong>Nome</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef
            ><strong>Telefone</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.phone }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef
            ><strong>Email</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.email }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef
            ><strong>Endereço</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.address }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="documentType">
          <mat-header-cell *matHeaderCellDef
            ><strong>Tipo de Documento</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.documentType }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="documentNumber">
          <mat-header-cell *matHeaderCellDef
            ><strong>Número do Documento</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            {{ item.documentNumber }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="operacoes">
          <mat-header-cell *matHeaderCellDef
            ><strong>Operações</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let item">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/admin/edit', item.id]"
            >
              Editar
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </mat-table>

      <p>
        Quantidade de registros obtidos: {{dataTable.data.length}}
      </p>

    </div>
  </mat-card-content>
</mat-card>
